body {
    margin: 0;
}

.header {
    margin: 0 auto;
    background: #4894f0;
}

.heading {
    max-width: 1180px;
    width: 80%;
    margin: 0 auto;
    padding: 2em 0 1em 0;
    color: white;
}

.main {
    max-width: 1180px;
    width: 80%;
    margin: 0 auto;
}

.btn {
    width: 216px;
    margin: 10px 5px;
    padding: 20px 0;
    font-size: 2rem;
}

#name-form {
    padding: 10px 10px;
    font-size: 1.5rem;
}
